svg {
   font-family: "Liberation Sans", sans-serif;
   font-size: 14px;
}

#shadow {
   opacity: .5;
}
.boxDrawing {
   stroke: black;
   fill: none;
}

circle,
.edgePath {
   stroke: black;
}
.edgePath {
   stroke-width: 4px;
   fill: none;
   marker-end: url('#edge_niceArrow');
}
circle {
   stroke-width: 2px;
   fill: black;
   fill-opacity: .1;
}
circle.white {
   stroke: none !important;
   fill: white !important;
   fill-opacity: unset;
}
.thickInvisible {
   stroke: transparent;
   stroke-width: 30px;
   fill: none;
}

text {
   font-size: 1.8em;
   text-anchor: middle;
   dominant-baseline: central;
}
text.leftAligned {
   text-anchor: start;
}
text.rightAligned {
   text-anchor: end;
}

.selected circle,
.selected .edgePath {
   stroke: blue;
}
.selected .edgePath {
   marker-end: url('#edge_niceArrow_selected');
}
.selected circle,
.selected text,
#edge_niceArrow_selected {
   fill: blue;
}

.undirectedGraph .edgePath {
   marker-end: none !important;
}

.hideWeights .weight,
.algorithm_hideWeights .weight {
   display: none;
}
