:root,
body {
   height: 100%;
}
body {
   margin: 0;
   hyphens: auto;
   font-family: "Liberation Sans", sans-serif;
   font-size: 14px;
   line-height: 1.5;
}

body:not(.weighted) .forWeighted {
   display: none !important;
}
body:not(.automata) .forAutomata {
   display: none !important;
}

#graphContainer {
   overflow: hidden;
   resize: vertical;
}
#graph {
   display: block;
   width: 100%;
   height: 100%;
   user-select: none;
}

#graphContainer:not(.undirectedGraph) ~ * .forUndirected {
   display: none;
}
#graphContainer.undirectedGraph ~ * .forDirected {
   display: none;
}

#separator {
   position: relative;
   margin: -.5em 0;
   padding: .5em 0;
   cursor: ns-resize;
}
#separator > div {
   border: 0 solid black;
   border-bottom-width: 1px;
}
#overlay {
   display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}
#separator.grabbed ~ #overlay {
   display: block;
   cursor: ns-resize;
}

.subjectBox {
   float: right;
   margin-left: 1em;
   font-size: .85em;
}

#controls {
   padding: 1.2em 0;
}
#controls > div {
   margin: 1em 0;
   padding: 0 .8em;
   overflow: auto hidden;
}
#controls > div:first-child {
   margin-top: 0;
}
.toggleGroup {
   white-space: nowrap;
}
.toggleGroup button {
   position: relative;
   padding: .5em .8em;
   border: 1px solid transparent;
   background: none;
}
.toggleGroup button.selected {
   border-color: black;
   background: #EEE;
}
.toggleGroup button.selected.tab:not(.collapsed) {
   padding-bottom: calc(.5em + 2px);
   border-bottom-color: white;
   background: white;
}
.toggleGroup ~ * {
   display: none;
   margin-top: -1px;
   padding: .2em 0;
   min-width: 320px;
   border-top: 1px solid black;
}
.elemsSizeFactor > * {
   vertical-align: middle;
}

.vertical {
   padding: 0;
   min-width: 450px;
}
.vertical.show {
   display: table;
}
.vertical > * {
   display: table-row;
}
.vertical > * > * {
   vertical-align: top;
}
.vertical > * > .show {
   display: table-cell;
}
.vertical > * > .toggleGroup {
   display: table-cell;
   position: relative;
   border-right: 1px solid black;
}
.vertical > * > .toggleGroup::before {
   content: "";
   position: absolute;
   left: 0;
   right: -1px;
   top: -1px;
   border-top: 1px solid black;
}
.vertical > * > .toggleGroup button {
   display: block;
   position: relative;
   width: 100%;
   border: 0;
   border-bottom: 1px solid black;
   border-left: 1px solid white;
   text-align: left;
}
.vertical > * > .toggleGroup button:not(.selected) {
   background: linear-gradient(to right, transparent, lightgray);
}
.vertical > * > .toggleGroup button.selected.tab {
   padding: .5em .8em;
   border: solid black;
   border-width: 0 0 1px 1px;
}
.vertical > * > .toggleGroup button.selected.tab::after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   right: -1px;
   border-right: 2px solid white;
}
.vertical > * > .toggleGroup ~ * {
   margin-top: 0;
   padding-left: .8em;
   border-top: 0;
   width: 100%;
}

.verticalMode > * {
   height: 100%;
}
.verticalMode > #graphContainer {
   float: left;
   max-width: 90%;
   resize: horizontal;
}
.verticalMode > #separator {
   float: left;
   margin: 0 -.5em;
   padding: 0 .5em;
   cursor: ew-resize;
}
.verticalMode > #separator > div {
   height: 100%;
   border-width: 0;
   border-right-width: 1px;
}
.verticalMode #controls {
   box-sizing: border-box;
   overflow: auto;
}

#texts {
   display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 1em 0 .5em;
}

p,
ul,
ol,
form {
   margin: .5em 0;
}
li ul,
li ol {
   margin-top: 0;
}

table {
   margin: .5em 0;
   border-collapse: collapse;
}
caption,
th,
td {
   padding: .2em;
   min-width: 2em;
   border: 1px solid black;
   text-align: center;
}
caption {
   border-bottom: none;
}

table.aligner {
   margin: 0;
}
table.aligner > tbody > tr > td {
   padding: 0 .4em .4em 0;
   min-width: auto;
   border: 0;
   text-align: left;
}

pre,
code {
   border: 1px solid lightgray;
   font-size: .9em;
}
pre {
   margin: .2em 0;
   padding: .2em .5em;
}
code {
   border-radius: .2em;
}

button,
input,
select {
   font: inherit;
   line-height: 1.2;
}
button img {
   height: 1.15em;
   vertical-align: top;
}
button[disabled] img {
   opacity: .5;
}
input[type="number"],
input.shortPlease {
   width: 5em;
}
input.quiteLong {
   width: 40em;
}
textarea {
   width: 100%;
   min-height: 200px;
   box-sizing: border-box;
   hyphens: none;
   resize: vertical;
}

details > summary {
   margin-bottom: -.5em;
   cursor: pointer;
}
details > summary > * {
   display: inline-block;
}

.hide {
   display: none;
}
.show {
   display: revert;
}
.lowPriority {
   color: gray;
}
.msgContainer {
   margin-left: .3em;
}
.noSplit {
   display: inline-block;
}
.softHr {
   margin: auto;
   width: 70%;
   border: 0;
   border-bottom: 1px solid #909090;
}

#generateGraph > form {
   display: inline-block;
   vertical-align: top;
}

#algoStatesButtons span {
   display: inline-block;
   text-align: center;
}
.flippedHor {
   transform: scaleX(-1);
}
.error {
   color: red;
}
#resultTables table {
   white-space: nowrap;
}
.aboutTheAlgorithm:not(.show),
.aboutTheAlgorithm [data-algos]:not(.show) {
   display: none;
}
